{
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": true,
  "useTabs": false,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": false
}
